# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\++PROGRAMACION\APUNTES MASTER URJC\09_Contenedores_y_orquestadores\eoloplants\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
